streamlit
FinanceDataReader
pandas
sklearn.preprocessing
MinMaxScaler
numpy
tensorflow.keras.layers 
Dense
LSTM
tensorflow.keras.models
Sequential
tensorflow.keras.callbacks
EarlyStopping
datetime
datetime





